@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
	border: none;
	
	
}


.background{
	background-image: url('./logo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

body{
	background-color:black;
}


header{
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	padding-top:1.5rem;
	align-items: center;
}

.logo{
	width: 70px;
	height: auto;
	margin-left: 5rem;

}

ul{
	list-style: none;
	display:flex ;
	gap:3rem;
}

ul li{
	list-style: none;
}

ul li a{
	text-decoration: none;
	color: #fff;
	transition: 0.3s;
	  }

.C-icon{
margin-right: 5rem;
}

.icone ion-icon { 
	color: #fff;
	font-size: 2rem;
	cursor: pointer;


}
ul li a:hover{
	text-transform: capitalize;
	color: rgb(101, 110,3); 
	border-bottom: solid 1px;

}

hr{
	border-bottom: solid 0.1px;
	color: rgb(54, 46, 46);
	margin-top: 15px;
}

.C-title{
	margin-top: 10rem;
	margin-top: 10rem;

}

.C-title h1{
	color:white;
	Font-size:4.8rem;

}

.C-title p{
	color: rgb(231, 208, 208);
	list-style: 2rem;
	line-height: 2rem;
	font-size: 1.2rem;
	font-weight: 100;


}

.C-title button{
	margin-top:rem;
	background-color: #d3ad7f;
	font-size: 1.2rem;
	padding:10px 15px;
	cursor: pointer;
}
.C-title button:hover{
letter-spacing: 2px;
transition: 0.3s all;
  }
.botaotopo{
margin: 10px;
}

ion-icon{
	margin-left: 50px;
}

.section-1 h1{
	align-items: center;
	text-align: center;
	color: #fff;
	font-size: 3rem;

}

.section-1 span{
	color:#d3ad7f;
} 

.section-1{
	padding: 5rem;
}

.sobre-nos{
	display: flex;
	align-items: center;
	background-color: #13131a;
	max-width: 100%;
	width: 100%;
	margin-top: 2rem;
}

.sobre-nos img{ 
	max-width: 100%;
	width: 30rem;
	height: auto;
}

.sobre-nos-title{
	margin-left: 1.3rem;
}

.sobre-nos-title h2{
	color: #fff;
	font-size: 2rem;
}

.sobre-nos-title p{
	line-height: 2rem;
	padding-top: 1rem;
	font-size: 1rem;
	color: #ccc;
	width: 45rem;

}

.sobre-nos-title button{
	margin-top:rem;
	background-color: #d3ad7f;
	font-size: 1.2rem;
	padding:10px 15px;
	cursor: pointer;
}

.sobre-nos-title button:hover{
	letter-spacing: 1px;
	transition: 0.3;
}

.section-2 h1{
	text-align: center;
	align-items: center;
	color: #fff;
	font-size: 3rem;
}

.section-2 span{
	color: #d3ad7f;

}
.container-card-1{
	display: flex;
	justify-content: space-evenly;
	flex-wrap:wrap ;
	margin-top: 1rem;
	margin-bottom: 1rem;

}

.card-img{
	border: solid 1px rgba(255, 255, 255, .3);
	padding: 5rem;
	align-items: center;
	text-align: center;
	max-width: 100%;
	width: 25rem;
	height: 25rem;
}
.card-img img{
	width: 120px;
	height: auto;

}
.card-img h3{
	font-size: 1.1rem;
	color: #fff;	
}

.card-img p{
	color: #ccc;
	font-size: 1.0rem;
	margin-top: 1.0rem;
}

.card-img button{
	margin-top: 1rem;
	background-color:#d3ad7f ;
	color: #fff;
	font-size: 1.2rem;
	padding: 10px 15px;
	cursor: pointer;

}
.card-img span{
	color: #fff;
	font-weight: lighter;
	text-decoration: line-through;
	font-size: 1rem;

}
.card-img:hover{
	transform: scale(1.1);
	transition: 0.5s all;
	background-color: #0d0d0f;

}
#container-card-2{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.section-3 h1{
	align-items: center;
	text-align: center;
	color:#fff;
	font-size: 3rem;
	margin-top: 3rem;
}

.section-3 span{
	color: #d3ad7f;
}



.cards{
	border: solid 1px rgba(255, 255, 255, .3);
	padding: 2rem;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	align-items: center;
	width: 450px;
	height: 400px;
	margin-top: 0.1rem;


}

.icon a{
	color: rgb(231, 208, 208);
	font-size: 1.5rem;
	padding: 0.2rem;
	margin-right: 2rem;
	

	
	
}
 
.c-card{
	display: flex;
	justify-content: space-evenly;
	padding-top: 5rem;
	flex-wrap: wrap;
	left: auto;
	
}

.icon a:hover{
	color: #d3ad7f;
	
}
.c-card img{
	margin-top: 2rem;

}

.title-produtos h3{
	color:white ;

 }

 .price{
	color: #fff;
 }

 .price span{
	text-decoration: line-through;
 }

 .star a{
	color: white;
	font-size: 0.9rem;
	margin-right: 1px;
	
 }

 .section-4 h1{
	align-items: center;
	text-align: center;
	color: #fff;
	font-size: 2rem;
	margin-top: 2rem; 
}
.section-4 span{
	color: #d3ad7f;
}

.container-clientes{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding-top: 3rem;
}

.paragrafo{
	border: solid 1px rgba(255, 255, 255, .3);
	padding: 3rem;
	width: 28rem;
}
.paragrafo img{
	width: 100px;
	height: auto;
	margin-top: 0.5rem;

}

.paragrafo p{
	color: #ccc;
	line-height: 2rem;
	margin-top: 1rem;
}

.paragrafo h4{
	color:#fff;
	margin-top:4rem;
	
}
